<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controller/playerController.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="scope container" data-ng-app="myApp" ng-controller="playersController">
        <h3>Cricket players Details </h3>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"><label>Player Name</label></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="inputData.Name" placeholder="plyer name" />

                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"><label> Playing Role</label></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="inputData.PlayingRole" placeholder="playing role" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"> <label>Bating Style</label></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="inputData.BatingStyle" placeholder="bating style" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"> <label>Bowling Style</label></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="inputData.BowlingStyle" placeholder="bowling style" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2"> <label>Team</label></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="inputData.Team" placeholder="Team" />
                </div>
            </div>
        </div>
        <br />
        <button class="btn btn-primary" data-ng-click="addUsers()">Add User</button> <button class="btn btn-primary" data-ng-click="clearInput()">Reset</button>
        <br />
        <br />
        <strong> Filter by Name:</strong>
        <input type="text" data-ng-model="nameText" placeholder="Type name here" />
        <br />
        <br />
        <!--<table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Playing Role</th>
                <th> Bating Style</th>
                <th> Bowling Style</th>
                <th>Team</th>-->
        <!--<th>Clear</th>-->
        <!--<th>Delete </th>
            <th>Edit</th>
        </tr>-->
        <!--<tr data-ng-repeat="element in users | filter:nameText | orderBy:'Name'">
            <td>{{ element.Name | uppercase}}</td>
            <td>{{ element.PlayingRole }}</td>
            <td>{{ element.BatingStyle }}</td>
            <td>{{element.BowlingStyle}}</td>
            <td>{{element.Team}}</td>-->
        <!--<td><a href="#" ng-click="clearUser(element)">Clear</a></td>-->
        <!--<td><a href="#" ng-click="removeUser(element)">Delete</a></td>
                <td><a href="#" ng-click="editUser(element)">Edit</a></td>
            </tr>
        </table>-->
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Playing Role</th>
                        <th> Bating Style</th>
                        <th> Bowling Style</th>
                        <th>Team</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="panel panel-default" data-ng-repeat="element in users | filter:nameText | orderBy:'Name'">
                        <td colspan="6">
                            <player class="row" element="element" remove="removeUser(element)" edit="editUser(element)"></player>
                        </td>
                    </tr>
            </table>
        </div>
    </div>



</body>
<script src="/app/services/directives.js"></script>
</html>

