<!--<div>{{ element.Name | uppercase}}</div>
<div>{{ element.PlayingRole }}</div>
<div>{{ element.BatingStyle }}</div>
<div>{{element.BowlingStyle}}</div>
<div>{{element.Team}}</div>-->
<!--<div><a href="" ng-click="removeUser(element)">Delete</a></div>
<div><a href="" ng-click="editUser(element)">Edit</a></div>-->
<!--<div><button ng-click="remove()">Delete </button></div>
<div><button ng-click="edit()">Edit </button></div>-->
<!-- Table -->
<!--<table class="table">
        <tr>
            <td>{{ element.Name | uppercase}}
</td>
<td>{{ element.PlayingRole }}</td>
<td>{{ element.BatingStyle }}</td>
<td>{{element.BowlingStyle}}</td>
<td>{{element.Team}}</td>
            <td><button ng-click="remove()">Delete </button></td>
            <td><button ng-click="edit()">Edit </button></td>
        </tr>
    </table>-->
<table class="table">
    <!--<thead>
        <tr>
            <th>Name</th>
            <th>Playing Role</th>
            <th> Bating Style</th>
            <th> Bowling Style</th>
            <th>Team</th>
        </tr>
    </thead>-->
    <tbody>
        <tr>
            <td>{{ element.Name | uppercase}}</td>
            <td>{{ element.PlayingRole }}</td>
            <td>{{ element.BatingStyle }}</td>
            <td>{{element.BowlingStyle}}</td>
            <td>{{element.Team}}</td>
            <td><button ng-click="remove()">Delete </button></td>
            <td><button ng-click="edit()">Edit </button></td>
        </tr>


    </tbody>
</table>
